@font-face {
  font-family: 'DejaVuMono';
  src: url('../fnt/DejaVuSansMono.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuMono';
  src: url('../fnt/DejaVuSansMono-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuMono';
  src: url('../fnt/DejaVuSansMono-Oblique.ttf');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'DejaVuMono';
  src: url('../fnt/DejaVuSansMono-BoldOblique.ttf');
  font-weight: bold;
  font-style: oblique;
}
