@font-face {
  font-family: 'DejaVuSlim';
  src: url('../fnt/DejaVuSansCondensed.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSlim';
  src: url('../fnt/DejaVuSansCondensed-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSlim';
  src: url('../fnt/DejaVuSansCondensed-Oblique.ttf');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'DejaVuSlim';
  src: url('../fnt/DejaVuSansCondensed-BoldOblique.ttf');
  font-weight: bold;
  font-style: oblique;
}
