@font-face {
  font-family: 'DejaVuSans';
  src: url('../fnt/DejaVuSans.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('../fnt/DejaVuSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('../fnt/DejaVuSans-Oblique.ttf');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('../fnt/DejaVuSans-BoldOblique.ttf');
  font-weight: bold;
  font-style: oblique;
}
