.rubinForm {
  @apply tw-relative;
  @apply tw-w-full;
  @apply tw-cursor-default;
}

.rubinForm > .rubinFormTitle {
  @apply tw-font-bold;
  @apply tw-text-xl;
  @apply tw-pb-4;
}

.rubinForm .rubinFormGroup {
  @apply tw-relative;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply md:tw-flex-row;
  @apply tw-flex-wrap;
  @apply tw-pb-4;
}

.rubinForm .rubinFormGroup > label {
  @apply tw-block;
  @apply tw-w-full;
  @apply md:tw-w-1/2;
  @apply tw-pr-8;
  @apply tw-text-lg;
  @apply tw-text-left;
}

.rubinForm .rubinFormGroup > span {
  @apply tw-hidden;
  @apply tw-w-full;
  @apply tw-pl-0;
  @apply md:tw-pl-2:1;
  @apply tw-text-sm;
  @apply tw-text-left;
  @apply tw-text-gray-600;
}

.rubinForm .rubinFormGroup.hasError > span {
  @apply tw-block;
  @apply tw-text-rubinRot;
}

.rubinForm .rubinFormGroup > input {
  @apply tw-block;
  @apply tw-w-full;
  @apply md:tw-w-1/2;
  @apply tw-outline-none;
  @apply tw-border-2;
  @apply tw-border-solid;
  @apply tw-border-gray-50;
  @apply tw-rounded-lg;
  @apply tw-shadow;
  @apply tw-p-4;
  @apply tw-bg-gray-50;
  @apply tw-text-base;
  @apply tw-text-gray-900;
  @apply tw-cursor-text;
  @apply tw-transition-colors;
  @apply tw-duration-300;
}

.rubinForm .rubinFormGroup.hasValue > input ,
.rubinForm .rubinFormGroup > input:focus,
.rubinForm .rubinFormGroup > input:focus-visible {
  @apply tw-border-gray-900;
}

.rubinForm .rubinFormGroup.hasError > input {
  @apply tw-border-rubinRot;
}

.rubinForm .rubinFormGroup > textarea {
  @apply tw-block;
  @apply tw-w-full;
  @apply md:tw-w-1/2;
  @apply tw-resize-y;
  @apply tw-border-2;
  @apply tw-border-solid;
  @apply tw-border-gray-900;
  @apply tw-rounded-lg;
  @apply tw-shadow;
  @apply tw-p-4;
  @apply tw-bg-gray-50;
  @apply tw-text-base;
  @apply tw-text-gray-900;
  @apply hover:tw-text-rubinRot;
  @apply tw-cursor-text;
  @apply tw-transition-colors;
  @apply tw-duration-300;
}

.rubinForm .rubinFormRadios {
  @apply tw-relative;
  @apply tw-w-full;
  @apply md:tw-w-1/2;
}

.rubinForm .rubinFormRadios > label {
  @apply tw-block;
  @apply tw-font-bold;
  @apply tw-text-base;
  @apply tw-py-2;
}
