html {
  font-size: 16px;
}

body {
  @apply tw-m-0;
  @apply tw-border-0;
  @apply tw-p-0;
  @apply tw-font-dejaVuSans;
  font-size: 1rem;
  line-height: 1.618;
  background-color: #b10022;
}

h1 {
  @apply tw-font-bold;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  @apply tw-font-bold;
  font-size: 1.8rem;
  line-height: 1;
}

h3 {
  @apply tw-font-bold;
  font-size: 1.4rem;
  line-height: 1;
}

h4 {
  @apply tw-font-bold;
  font-size: 1.4rem;
  font-style: oblique;
  line-height: 1;
}

@media (min-width: 48em) {
  body {
    font-size: calc(1rem + ((1vw - 0.48rem) * 0.277777));
    /*
    Where: 0.277777 = 100 * font-size_difference / viewport_width_difference
    font-size_difference = maxFontSize - minFontSize
                         = 1.2em - 1em
                         = 0.4em
    viewportWidthDifference = viewportMax - viewportMin
                            = 120em - 48em  (or 1920px - 768px)
                            = 72em  (or 1152px)
    */
    /* Safari resize fix */
    min-height: 0vw;
  }
}

@media (min-width: 120em) {
  body {
    font-size: 1.2rem;
  }
}

body * {
  @apply tw-box-border;
}

a {
  @apply tw-no-underline;
  @apply  tw-text-rubinRot;
}

a:hover {
  @apply tw-underline;
}

.center-v {
  top: 50%;
  transform: translateY(-50%);
}

.center-h {
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rubin-fade-in {
  0% {display: none;  opacity: 0;}
  1% {display: block; opacity: 0;}
  100% {display: block; opacity: 1;}
}
.rubin-fade-in {
  animation: rubin-fade-in 300;
}

@keyframes rubin-fade-out {
  0% {display: block;  opacity: 1;}
  1% {display: block; opacity: 0;}
  100% {display: none; opacity: 0;}
}
.rubin-fade-out {
  animation: rubin-fade-out 300;
}
