#rubin-footer {
  box-shadow: 0 50vh 0 50vh rgb(31, 41, 55);
}

#rubin-footer-menu .menu {
  @apply tw-m-0;
  @apply tw-border-0;
  @apply tw-p-0;
  @apply tw-w-full;
  @apply tw-h-full;
  @apply tw-list-none;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply sm:tw-flex-row;
  @apply tw-flex-nowrap;
  @apply tw-items-center;
  @apply tw-justify-end;
}

#rubin-footer-menu .menu .menu-item {
  @apply tw-relative;
  @apply tw-table;
  @apply tw-h-full;
}

#rubin-footer-menu .menu .menu-item a {
  @apply tw-table-cell;
  @apply tw-px-4;
  @apply tw-h-10;
  @apply sm:tw-h-full;
  @apply tw-align-middle;
  @apply tw-no-underline;
  @apply tw-text-gray-100;
  @apply tw-transition-colors;
  @apply tw-duration-500;
}

#rubin-footer-menu .menu .menu-item a:hover {
  @apply tw-text-rubinRot;
}

#rubin-footer-menu .menu .current-menu-item a:hover {
  @apply tw-text-gray-100;
}

#rubin-footer-menu .menu-item .sub-menu {
  @apply tw-hidden;
}
