#rubin-mobile-menu-toggle {
  @apply tw-absolute;
  @apply tw-left-0;
  @apply tw-bottom-0;
  @apply tw-w-full;
  @apply tw-h-28;
  @apply tw-shadow;
  @apply tw-transition-all;
  @apply tw-duration-500;
}

.rubin-top-nav-closed {
  top: calc(-100vH + 7rem);
}

.rubin-top-nav-closed #rubin-mobile-menu-toggle {
  @apply tw-border-0;
  @apply tw-border-b-4;
  @apply tw-border-solid;
  @apply tw-border-rubinRot;
}

.rubin-top-nav-opened {
  top: 0;
}

.rubin-top-nav-opened #rubin-mobile-menu-toggle {
  @apply tw-border-0;
  @apply tw-border-t-4;
  @apply tw-border-solid;
  @apply tw-border-rubinRot;
}

.rubin-mobile-menu-toggle-chevron {
  @apply tw-block;
  @apply tw-absolute;
  @apply tw-right-6;
  @apply tw-top-8;
  @apply tw-w-12;
  @apply tw-h-12;
  @apply tw-text-gray-500;
  @apply hover:tw-text-rubinRot;
  @apply tw-cursor-pointer;
  @apply tw-transform;
  @apply tw-rotate-0;
  @apply tw-transition-all;
  @apply tw-duration-300;
}

.rubin-top-nav-opened .rubin-mobile-menu-toggle-chevron {
  @apply tw-rotate-180;
}

.rubin-h-mobile-nav {
  height: calc(100vH - 7rem);
}

.rubin-no-scroll{
  height: 100vh;
	overflow: hidden;
}

#rubin-mobile-menu .sub-menu,
#rubin-mobile-menu .menu {
  @apply tw-m-0;
  @apply tw-border-0;
  @apply tw-p-0;
  @apply tw-w-full;
  @apply tw-list-none;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-flex-nowrap;
  @apply tw-items-start;
  @apply tw-justify-start;
}

#rubin-mobile-menu .menu > .menu-item,
#rubin-mobile-menu .sub-menu > .menu-item {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-center;
  @apply tw-items-start;
  @apply tw-h-20;
  @apply tw-w-full;
}

#rubin-mobile-menu .menu > .menu-item > a,
#rubin-mobile-menu .sub-menu > .menu-item > a {
  @apply tw-block;
  @apply tw-w-full;
  @apply tw-h-full;
  @apply tw-border-solid;
  @apply tw-border-0;
  @apply tw-border-l-4;
  @apply tw-border-white;
  @apply tw-px-8;
  @apply tw-text-gray-300;
  @apply tw-leading-20;
  @apply tw-no-underline;
  @apply tw-uppercase;
  @apply tw-whitespace-nowrap;
  @apply tw-overflow-hidden;
  @apply tw-overflow-ellipsis;
  @apply tw-transition-colors;
  @apply tw-duration-500;
}
#rubin-mobile-menu .menu > .menu-item.blue > a,
#rubin-mobile-menu .sub-menu > .menu-item.blue > a {
  @apply tw-text-blue-300;
}

#rubin-mobile-menu .menu > .menu-item > a:hover,
#rubin-mobile-menu .sub-menu > .menu-item > a:hover {
  @apply tw-border-rubinRot;
  @apply tw-text-rubinRot;
}
#rubin-mobile-menu .menu > .menu-item.blue > a:hover,
#rubin-mobile-menu .sub-menu > .menu-item.blue > a:hover {
  @apply tw-text-blue-500;
}

#rubin-mobile-menu .menu > .current-menu-item > a,
#rubin-mobile-menu .sub-menu > .current-menu-item > a {
  @apply tw-border-rubinRot;
  @apply tw-text-black;
}
#rubin-mobile-menu .menu > .current-menu-item.blue > a,
#rubin-mobile-menu .sub-menu > .current-menu-item.blue > a {
  @apply tw-text-blue-900;
}

#rubin-mobile-menu .menu > .menu-item-has-children,
#rubin-mobile-menu .sub-menu > .menu-item-has-children {
  @apply tw-h-auto;
}

#rubin-mobile-menu .menu > .menu-item-has-children > a,
#rubin-mobile-menu .sub-menu > .menu-item-has-children > a {
  @apply tw-hidden;
}
