#rubin-primary-menu .menu {
  @apply tw-m-0;
  @apply tw-border-0;
  @apply tw-p-0;
  @apply tw-w-full;
  @apply tw-h-full;
  @apply tw-list-none;
  @apply tw-flex;
  @apply tw-flex-row;
  @apply tw-flex-nowrap;
  @apply tw-items-center;
  @apply tw-justify-end;
}

#rubin-primary-menu .menu .menu-item {
  @apply tw-relative;
  @apply tw-table;
  @apply tw-h-full;
  @apply tw-uppercase;
  @apply tw-text-xl;
}

#rubin-primary-menu .menu .menu-item a {
  @apply tw-table-cell;
  @apply tw-border-solid;
  @apply tw-border-0;
  @apply tw-border-b-4;
  @apply tw-border-gray-50;
  @apply tw-px-2;
  @apply sm:tw-px-4;
  @apply lg:tw-px-6;
  @apply tw-h-full;
  @apply tw-align-middle;
  @apply tw-no-underline;
  @apply tw-text-gray-300;
  @apply tw-transition;
  @apply tw-duration-500;
}
#rubin-primary-menu .menu .menu-item.blue a {
  @apply tw-text-blue-300;
}

#rubin-primary-menu .menu .current-menu-parent a,
#rubin-primary-menu .menu .current-menu-item a {
  @apply tw-border-rubinRot;
  @apply tw-text-black;
}
#rubin-primary-menu .menu .current-menu-parent.blue a,
#rubin-primary-menu .menu .current-menu-item.blue a {
  @apply tw-text-blue-900;
}

#rubin-primary-menu .menu .menu-item a:hover {
  @apply tw-border-rubinRot;
  @apply tw-text-rubinRot;
  @apply tw-duration-200;
}
#rubin-primary-menu .menu .menu-item.blue a:hover {
  @apply tw-text-blue-500;
}

#rubin-primary-menu .menu .current-menu-parent a:hover,
#rubin-primary-menu .menu .current-menu-item a:hover {
  @apply tw-text-black;
}

#rubin-primary-menu .menu-item .sub-menu {
  @apply tw-absolute;
  @apply tw-hidden;
  @apply tw-flex-col;
  @apply tw-flex-nowrap;
  @apply tw-items-start;
  @apply tw-justify-start;
  @apply tw-top-full;
  @apply tw-right-0;
  @apply tw-m-0;
  @apply tw-border-0;
  @apply tw-p-0;
  @apply tw-min-w-max;
  @apply tw-bg-gray-50;
  @apply tw-shadow;
  @apply tw-list-none;
}

#rubin-primary-menu .menu-item:hover .sub-menu {
  @apply tw-flex;
  animation: rubin-fade-in 300ms;
}

#rubin-primary-menu .menu-item .sub-menu .menu-item {
  @apply tw-w-full;
}

#rubin-primary-menu .menu-item .sub-menu .menu-item a {
  @apply tw-border-b-0;
  @apply tw-border-l-4;
  @apply tw-h-12;
  @apply sm:tw-h-14;
  @apply lg:tw-h-16;
  @apply tw-border-gray-50;
  @apply tw-text-gray-300;
}
#rubin-primary-menu .menu-item .sub-menu .menu-item.blue a {
  @apply tw-text-blue-300;
}

#rubin-primary-menu .menu-item .sub-menu .menu-item a:hover {
  @apply tw-border-rubinRot;
  @apply tw-text-rubinRot;
}
#rubin-primary-menu .menu-item .sub-menu .menu-item.blue a:hover {
  @apply tw-text-blue-500;
}

#rubin-primary-menu .menu-item .sub-menu .current-menu-item a:hover ,
#rubin-primary-menu .menu-item .sub-menu .current-menu-item a {
  @apply tw-border-rubinRot;
  @apply tw-text-black;
}
#rubin-primary-menu .menu-item .sub-menu .current-menu-item.blue a:hover ,
#rubin-primary-menu .menu-item .sub-menu .current-menu-item.blue a {
  @apply tw-text-blue-900;
}
