.mgvo-calendar {
  @apply tw-flex;
  @apply tw-flex-row;
  @apply tw-flex-nowrap;
  @apply tw-justify-start;
  @apply tw-content-center;
  @apply tw-w-full;
  @apply tw-h-full;
  @apply tw-overflow-hidden;
}

.mgvo-calendar .mgvo-month-slider {
  @apply tw-relative;
  @apply tw-flex;
  @apply tw-flex-row;
  @apply tw-flex-nowrap;
  @apply tw-justify-start;
  @apply tw-content-center;
  @apply tw-h-full;
  @apply tw-flex-grow-0;
  @apply tw-flex-shrink-0;
  width: calc(36 * 100%);
}

.mgvo-calendar .mgvo-month {
  @apply tw-relative;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-flex-nowrap;
  @apply tw-justify-start;
  @apply tw-content-center;
  @apply tw-h-full;
  width: calc(100% / 36);
}

.mgvo-calendar .mgvo-week {
  @apply tw-flex;
  @apply tw-flex-row;
  @apply tw-flex-nowrap;
  @apply tw-justify-start;
  @apply tw-content-center;
}

.mgvo-calendar .mgvo-day {
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;
  @apply tw-h-12;
  @apply tw-border-2;
  @apply tw-border-solid;
  @apply tw-border-transparent;
  @apply tw-rounded;
  @apply tw-text-base;
  @apply tw-whitespace-nowrap;
  @apply md:tw-text-xl;
  @apply tw-text-center;
  @apply tw-font-dejaVuMono;
  @apply tw-cursor-default;
  width: calc(100% / 7);
}

.mgvo-calendar .mgvo-day.has-events {
  @apply tw-cursor-pointer;
  @apply tw-border-rubinRot;
  @apply hover:tw-shadow;
  @apply hover:tw-bg-rubinRot;
  @apply hover:tw-text-white;
}

.mgvo-calendar .mgvo-day.has-event {
  @apply tw-cursor-pointer;
  @apply hover:tw-shadow;
  @apply hover:tw-bg-rubinRot;
  @apply hover:tw-text-white;
}

.mgvo-calendar .mgvo-day.is-sunday {
  @apply tw-text-rubinRot-light;
}

.mgvo-calendar .mgvo-day.is-today {
  @apply tw-border-gray-800;
}

.mgvo-calendar .mgvo-day.outside-month {
  @apply tw-text-gray-300;
}

.mgvo-calendar .mgvo-day.outside-month.is-today {
  @apply tw-border-gray-300;
}
