@import url('../tailwind.css');

@responsive {
  .rubin-border-b-gray-900 {
    border-bottom-color: #111827;
  }

  .rubin-border-b-rubinRot-darkShadow {
    border-bottom-color: #eee4e4;
  }

  .rubin-border-b-not-gray ,
  .rubin-border-b-not-rubinRot {
    border-bottom-color: inherit;
  }  

  .rubin-border-r-gray-900 {
    border-right-color: #111827;
  }  
  
  .rubin-border-r-rubinRot-darkShadow {
    border-right-color: #eee4e4;
  }

  .rubin-border-r-not-gray ,
  .rubin-border-r-not-rubinRot {
    border-right-color: inherit;
  }  
}