.align-to-rubin-widget-column {
  @apply tw-py-4;
}

.align-to-rubin-widget-row {
  @apply tw-px-4;
}

.align-to-rubin-widget {
  @apply tw-px-4;
  @apply tw-py-4;
}

.rubin-widget-column {
  margin-left: -1rem;
  margin-right: -1rem;
}

.rubin-widget-row {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.rubin-widget {
  @apply tw-relative;
  @apply tw-w-full;
  @apply tw-p-4;
}

.rubin-widget.seamless {
  @apply tw-p-0;
}

.rubin-widget .rubin-widget-container {
  @apply tw-rounded-lg;
  @apply tw-bg-rubinRot-shadow;
  @apply tw-shadow-xl;
}

.rubin-widget .rubin-widget-container.bordered {
  @apply tw-border-4;
  @apply tw-border-solid;
  @apply tw-border-rubinRot;
}

.rubin-widget.boxed .rubin-widget-container {
  @apply tw-absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
