@import './includes/dejavu-sans.css';
@import './includes/dejavu-slim.css';
@import './includes/dejavu-mono.css';

@tailwind utilities;

.rubin-chevron {
  position: relative;
  cursor: pointer;
}

.rubin-chevron.disabled {
  cursor: default;
  pointer-events: none;
}

.rubin-chevron:after {
  content: '';
  display: block;
  width: 33.333333%;
  height: 33.333333%;
  margin: calc(37.5% - 3px);
  border-width: 4px;
  border-style: solid;
  border-color: #F8F8F8;
  border-top: 0;
  border-left: 0;
  border-radius: 2px;
  transition: border-color 500ms;
}

.rubin-chevron.dark:after {
  border-color: #888888;
}

.rubin-chevron.disabled:after {
  border: 0;
}

.rubin-chevron.down:after {
  transform: rotate(45deg);
}

.rubin-chevron.left:after {
  transform: rotate(135deg);
}

.rubin-chevron.up:after {
  transform: rotate(-135deg);
}

.rubin-chevron.right:after {
  transform: rotate(-45deg);
}

.rubin-chevron:hover:after {
  border-color: #9e0707;
}
